@use "../util" as *;

// main padding 
.sec { padding:var(--sec-padding) 0 }

// main heading 
.main-heading {
    text-transform: uppercase;
    padding-bottom: rem(40);
    h2 {
        position: relative;
        width: fit-content;
        margin-bottom: rem(5);
        font-size: rem(14);
        font-weight: 500;
        font-family: var(--ff-poppins);
        letter-spacing: rem(2);
        line-height: rem(1);
        color: var(--mh-h-clr);

        &::before {
            content: '';
            position: absolute;
            left: calc(100% + 10px);
            top: 50%;
            transform: translateY(-50%);
            width: rem(120);
            height: 1px;
            background-color: var(--main-clr);
        }
    }

    p {
        font-size: clamp(1.75rem , 1rem + 2vw , rem(36));
        font-weight: 700;
        font-family: var(--ff-poppins);
        color: var(--secondary-clr)
    }
}


